.player-schedule {
    width: 80%;
    height: 200px;

    margin-top: 10px;
    padding-top: 10px;
    line-height: 40px;
}

.player-schedule_dark-theme {
    background: #3e423f;
}

.player-schedule_light-theme {
    background: #3e423f;
}
