.up-line {
    display: flex;
    flex-direction: row;

    min-width: calc(100vw - 500px);
}

.up-line__info-lines {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.up-line__avatar-block {
    display: flex;
    flex-direction: row;
    width: 15%;
    justify-content: center;
    border-bottom: 1px solid #db0f8d;
    border-left: 1px solid  #db0f8d;
    z-index: 1;
    max-height: 90px;
    cursor: pointer;
}

.avatar-block__person-info {
    display: flex;
    flex-direction: column;
}

.person-info__nickname {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    color: red;
    font-size: 20px;
}

.person-info__rank_veteran {
    color: #ec6c15;
}
