.app {
  text-align: center;
}

.app-dark-theme {
  background: #3e423f;
  /*color : #db0f8d;*/
  color: #7FFF00FF;
}

.app-dark-theme > * {
  border: 1px solid #7FFF00FF;
}

.app-light-theme {
  background: #fefcff;
  color: #db0f8d;
}

.app-light-theme > * {
  border: 1px solid #96969e;
}

.app-padding {
  display: flex;
  flex-direction: row;

  padding: 0 20px;
  border: none;
}
